@font-face {
    font-family: 'FreeSans';
    font-style: normal;
    font-display: swap;
    src: local('FreeSans'), url('/fonts/freesans.woff') format('woff');
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    width: 100%;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

header, section {
    font-family: Helvetica, 'FreeSans';
}

h1 {
    font-weight: bold;
    margin-top: 0;
}

header {
    font-size: 18pt;
}

::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#canvas {
    /*overflow: hidden;*/
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: -1;
}

.cont {
    margin: 5%;
    margin-top: 0;
    padding-top: 5%;
    padding-bottom: 5%;
}

.container {
    display: flex;
    flex-direction: row;
}

.container-left {
    margin-right: 1.5rem;
    background-color: white;
    border-radius: 3.5px;
    padding: 2rem;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.25);
}

.container-right {
    margin-left: 1.5rem;
    background-color: white;
    border-radius: 3.5px;
    padding: 2rem;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.25);
}

.contact {
    margin-bottom: 1rem;
}

.container-link {
    display: flex;
    flex-direction: row;
}

.container-link a {
    margin-top: 0.1rem;
}

.container-img {
    width:  16px;
    height: 16px;
    margin: 0.25rem;
}

.container-img img {
    width: 100%;
    height: auto;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .container-left {
        margin-right: 0;
    }
    
    .container-right {
        margin-left: 0;
    }
    
}
